.random-film {
    padding: 32px 0 0;


    @media (max-width: 767px) {
        padding: 0;
    }
}

.top10 {
    padding: 40px 0 120px;

    @media (max-width: 767px) {
        padding: 32px 0 0;
    }

    &__title {
        margin: 0 0 64px;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #FFFFFF;

        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 32px;
            margin: 0;
        }
    }

   
}